.btnButton {
  width: 100%;
  height: 45px;
  margin: 15px 0px;
  border-radius: 10px;
  background-color: #4caf50;
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 700;
  border-color: transparent;
  outline: none;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: flex;
}
.btnButton:hover,
.btnButton:focus,
.btnButton:active {
  width: 100%;
  height: 45px;
  margin: 15px 0px;
  border-radius: 10px;
  background-color: #4caf50;
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 700;
  border-color: transparent;
  outline: none;
  cursor: pointer;
  justify-content: center;
    align-items: center;
    display: flex;
}

.titleIconDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.txtTitle {
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 700;
  border-color: transparent;
  margin-right: 15px;
}
.imgIcon {
  font-size: 30px;
  font-weight: 100;
}
