.container {
  /* background-image: url('./../../assets/images/login_bg.png'); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
  /* background-image: linear-gradient(NaNdeg, rgba(58, 75, 100, 0.67) 25%, rgba(255, 255, 255, 0) 100%); */
}
.logoDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
.appLogo {
  margin-top: 40px;
  height: 100px;
}
.cardDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.card {
  display: flex;
  flex-direction: column;
  width: 400px;
  border-radius: 20px;
  background-color: rgba(44, 62, 89, 0.85);
  justify-content: center;
  align-items: center;
  padding: 50px;
}
.cardTitle {
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 20px;
}
.errorDiv {
  width: 100%;
  background-color: #fbe2e1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 5px 0px 5px;
  border-radius: 5px;
}
.imgError {
  height: 20px;
  width: 20px;
  margin: 0px 10px;
}
.txtError {
  color: #c94f4c;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  font-weight: 500;
  margin: 10px 0px;
}
.selectUniversity {
  width: 100%;
  margin: 5px 0px 15px 0px;
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 700;
}
.forgotDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.txtRememberMe {
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 700;
}
.txtForgot {
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}

.btnCss:hover,
.btnCss:focus,
.btnCss:active {
  background-color: #4caf50 !important;
}