.app {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: transparent;
  margin: 0px;
  padding: 0px;
}

/* Override style for checkbox  */

/* textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
} */

/*Login.js Override style for checkbox */
#rememberme {
  margin-right: 10px;
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5);
}

/*Activity Loader modal background*/
#activityModal .modal-content {
  background-color: transparent;
  border: none;
}

/* Story manager Add Filter Select Date */
.react-datepicker-wrapper {
  width: 100%;
}
.show > .btn-primary.dropdown-toggle {
  background-color: #324767;
}

#newstory,
#previewstory,
#editstory,
#galleryDetails {
  max-width: 90vw;
  max-height: 90vh;
  background-color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 5px;
  border: none;
  overflow: hidden;
}
.modal-content {
  border: none;
  overflow: hidden;
}

.btn-primary.disabled,
.btn-primary:disabled {
  color: #fff;
  background-color: rgb(50, 71, 103) !important;
  border-color: rgb(50, 71, 103) !important;
}
.dropdown-item.active,
.dropdown-item:active {
  background-color: rgb(218, 137, 108) !important;
}
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  background-color: rgb(50, 71, 103) !important;
  border-color: rgb(50, 71, 103) !important;
}
.btn-primary.focus,
.btn-primary:focus {
  background-color: rgb(50, 71, 103) !important;
  border-color: rgb(50, 71, 103) !important;
}
.btn-primary {
  background-color: rgb(50, 71, 103);
  border-color: rgb(50, 71, 103);
}
#newStoryBtn {
  background-color: rgba(138, 149, 165, 0.5) !important;
}

/* CSS FOR SCROLL BAR  */
/* WIDTH */

::-webkit-scrollbar {
  width: 13px;
}
/* TRACK */

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
/* HANDLE */

::-webkit-scrollbar-thumb {
  background: #343a40;
  border-radius: 10px;
}
/* HANDLE ON HOVER */

::-webkit-scrollbar-thumb:hover {
  background: #343a40;
}
/* END OD SCROLL BAR CSS */
.alert-success {
  font-weight: 600 !important;
}
/* @media print {
  @page {
    size: landscape;
  }
} */
.navbar {
  display: flex;
  align-items: center;
  
  background: rebeccapurple;
  color: white;
  font-family: Helvetica;
  font-weight: 300;
}

.navbar__title {
  margin-right: auto;
  font-size: 150%;
  padding: 12px 16px;
}

.navbar__item {
  padding: 16px 16px;
  cursor: pointer;
  vertical-align: middle;
}