body {
  margin: 0px;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw !important;
  height: 100vh !important;
  overflow: hidden;
}
